@import "tailwindcss";

@layer components {
  .custom-container {
   @apply container max-w-[1440px] mx-auto w-4/5; 
  }
}

body{
  overflow-x: hidden;
  font-family: var(--font-inter), sans-serif;
}

.heroBg{
  background-image: url('../../public/digitalMarketing2.jpg');
  background-repeat: no-reteat;
  background-size: cover;
  background-position: center center;
}