@import "tailwindcss";

@layer components {
  .custom-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

}

/* *{
  border:1px solid green;
}  */

body{
  font-family: var(--font-inter), sans-serif;
  overflow-x:hidden;
  scrollbar-width: thin;
  scrollbar-color: black white;
  user-select: none;
}